.env
venv/
outputs/
lora_model/
qwen2.5-gguf/
config/
crawl4ai-app/
model_training/
django-app/
models/
.vscode/
test/
monitoring/
__pycache__/
*.pyc
venv/
# ======================
# MEDIA FILES
# ======================
*.mp4
*.jpg
*.png

# ======================
# LOGS
# ======================
*.log

# ======================
# SYSTEM FILES
# ======================
.DS_Store

models/
models_cache/

*.gguf
*.safetensors
*.bin

huggingface/
cache/